---
import "/node_modules/flag-icons/css/flag-icons.min.css";
import { getRelativeLocaleUrl } from "astro:i18n";
import { loadLocaleAsync } from "../../i18n/i18n-util.async";
import { i18nObject } from "../../i18n/i18n-util";
import type { Locales } from "../../i18n/i18n-types";

interface Props {
  PageID?: string;
  langCode: Locales;
}

const { PageID, langCode } = Astro.props;
const activeClass = "on"; // For primary color replace with `active` class
await loadLocaleAsync(langCode);
const LL = i18nObject(langCode);
---

<div class="bg-base-100">
  <ul class="menu w-full">
    <li>
      <a
        class="menu-item p-4"
        id="home"
        href={getRelativeLocaleUrl(langCode, "/")}>{LL.HOME_PAGE_TITLE()}</a
      >
    </li>
    <li>
      <a
        class="menu-item p-4"
        id="blog"
        href={getRelativeLocaleUrl(langCode, "blog")}>{LL.BLOG_PAGE_TITLE()}</a
      >
    </li>
    <li>
      <a
        class="menu-item p-4"
        id="project"
        href={getRelativeLocaleUrl(langCode, "project")}
        >{LL.PROJECTS_PAGE_TITLE()}</a
      >
    </li>
    <li>
      <a
        class="menu-item p-4"
        id="about"
        href={getRelativeLocaleUrl(langCode, "about")}
        >{LL.ABOUT_PAGE_TITLE()}</a
      >
    </li>
  </ul>

  <div class="flex justify-center p-2">
    <a href="https://ko-fi.com/W7W3X33WD" target="_blank">
      <img
        height="36"
        style="border:0px;height:36px;"
        src="https://storage.ko-fi.com/cdn/kofi2.png?v=3"
        alt="Buy Me a Coffee at ko-fi.com"
      />
    </a>
  </div>

  <div class="flex justify-center p-2 gap-2">
    <a href="/Blog/en">
      <span class="fi fi-us"></span>
    </a>
    <a href="/Blog/ar">
      <span class="fi fi-sa"></span>
    </a>
  </div>
</div>

<script define:vars={{ sideBarActiveItemID: PageID, activeClass: activeClass }}>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>
