---
import { Image } from "astro:assets";
import Menu from "./ProfileCardMenu.astro";
import Footer from "./ProfileCardFooter.astro";
import type { Locales } from "../../i18n/i18n-types";

interface Props {
  PageID: string;
  langCode: Locales;
}

const { PageID, langCode } = Astro.props;
---

<div class="profile-card card bg-base-100 shadow-xl p-4">
  <div class="avatar px-6">
    <Image
      class="mask mask-circle"
      format="webp"
      width={300}
      height={300}
      src="/blog/profile.jpeg"
      alt="Profile image"
    />
  </div>
  <div class="profile-info"></div>
  <Menu PageID={PageID} langCode={langCode} />
  <Footer />
</div>
