---
import BaseLayout from "../../layouts/en/BaseLayout.astro";
import BaseCard from "../../components/en/Core/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="project">
  <BaseCard title="Project">
    <h1 id="h1">Project</h1>
  </BaseCard>
</BaseLayout>
