---
import BaseLayout from "../layouts/en/BaseLayout.astro";
import BaseCard from "../components/en/Core/BaseCard.astro";
---

<!doctype html>
<BaseLayout PageID="home">
  <BaseCard image="/floweroflife.jpg" title="Flower of Life">
    <h1 id="h1">Welcome fellows!</h1>
    <hr />

    <p>
      Staying ahead of the curve in software development requires continuous
      learning and exploration. This blog is dedicated to sharing my
      experiences, dives into technical topics, and discussions about the latest
      trends in software/web development. Whether you're a seasoned developer or
      just starting out, I hope you find something valuable here.
    </p>
  </BaseCard>
</BaseLayout>
