---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseCard from "../components/Core/BaseCard.astro";
import { loadLocaleAsync } from "../i18n/i18n-util.async";
import { i18nObject } from "../i18n/i18n-util";

await loadLocaleAsync("ar");
const LL = i18nObject("ar");
---

<!doctype html>
<BaseLayout PageID="home" langCode={"ar"}>
  <BaseCard
    image="/Blog/floweroflife.webp"
    title="وردة الحياة"
    langCode={"ar"}
  >
    <h1 class="ml-auto" id="h1">{LL.WELCOME_MESSAGE()}</h1>
    <hr />

    <p class="ml-auto">
      {LL.WELCOME_PARAGRAPH()}
    </p>
  </BaseCard>
</BaseLayout>
