---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseCard from "../../components/Core/BaseCard.astro";
import { loadLocaleAsync } from "../../i18n/i18n-util.async";
import { i18nObject } from "../../i18n/i18n-util";

await loadLocaleAsync(Astro.currentLocale as "ar");
const LL = i18nObject(Astro.currentLocale as "ar");
---

<!doctype html>
<BaseLayout PageID="home" langCode={Astro.currentLocale as "ar"}>
  <BaseCard
    image="/floweroflife.jpg"
    title="وردة الحياة"
    langCode={Astro.currentLocale as "ar"}
  >
    <h1 class="ml-auto" id="h1">{LL.WELCOME_MESSAGE()}</h1>
    <hr />

    <p class="ml-auto">
      {LL.WELCOME_PARAGRAPH()}
    </p>
  </BaseCard>
</BaseLayout>
